<section class="page-section" style="background-color:#111111">
  <div class="container">
        <h1>Curriculum Vitae</h1>
        <div class="d-flex justify-space-between align-center">
          <h2 class="cv-h2">BOXT (contract)</h2>
          <h3 class="cv-h3">  Scrum Master/SPM (April-December 2018)</h3>
           </div>
          <p> Led delivery for two cross-functional Scrum teams working on maintaining and extending an internal admin website, a customer-facing site both built in RoR and a mix of FE technologies and an employee app built in React Native.</p>
          <ul>
            <li>Running Scrum ceremonies</li>
            <li>Coaching the team in Scrum process</li>
            <li>Hiring across QA, Development, Product Management, Design and UX</li>
            <li>Video Production</li>
            <li>Product management support (prioritisation, managing bugs, signing off on releases)</li>
            <li>QA support</li>
            <li>Owning Jira and Confluence</li>
          </ul>
        <div class="d-flex justify-space-between align-center">
          <h2 class="cv-h2">Zone (contract)</h2>
          <h3 class="cv-h3">  Scrum Master/SPM (May-December 2017)</h3>
        </div>
          <p>Led delivery for an integrated client/agency Scrum team producing a complex, data-driven .NET application to allow PRS members to access and examine their royalty statements online. Managed up to Alpha launch prior to planned handover to client.</p>
            <ul>
              <li>Running Scrum ceremonies </li>
              <li>Risk and dependency management </li>
              <li>Stakeholder management </li>
              <li>Change management</li>
            </ul>
        <div class="d-flex justify-space-between align-center">
          <h2 class="cv-h2">DigitasLBi</h2>
          <h3 class="cv-h3">  Project Manager/Senior Project Manager (May 2014- April 2017)</h3>
          </div>
          <ul>
            <li>Scoping projects with values between £5k - 800k</li>
            <li>Run projects with total values in excess of £1m</li>
            <li>Proposal and contract writing</li>
            <li>Project and resource planning</li>
            <li>MS Project use</li>
            <li>Proficient with Jira and Confluence </li>
            <li>Acting as Scrum Master for Agile teams</li>
            <li>Briefing and managing project teams</li>
            <li>Scope control and change management </li>
            <li>Risk and issue tracking </li>
            <li>Leading stand-ups</li>
            <li>Working with offshore teams </li>
            <li>Managing Kanban projects</li>
          </ul>


          <h2 class="cv-h2">Selected Projects</h2>
          <h3 class="cv-h3">  New Authentication App</h3>
          <p> A design and build project that uses a mobile app, touch ID and push notifications to authenticate transactions made in browser on other devices. </p>
            <ul>
            <li>Responsible for every aspect of the project from scoping and contract negotiation through to planning and delivery.</li>
            <li>Main point of contact and responsible for building and maintaining client relationship and helping to grow the account. </li>
            <li>Running sprint planning, reviews and retrospectives. </li>
            <li>Coordinating onshore and offshore development teams using JIRA and daily stand-up calls. </li>
            <li>Leading the multidisciplinary team and keeping them focussed and motivated. </li>
            <li>Risk management and weekly status reporting. </li>
            <li>Shepherding the work through multiple stakeholder review boards.</li>
            <li>Managing relationships between multiple roster agencies and third party vendors. </li>
            </ul>
          <h3 class="cv-h3">  Touch ATM </h3>
          <p> Design of a new touch screen ATM interface that will bring best in class accessibility standards to HSBC’s ATMs globally. </p>
          <ul>
            <li>Responsible for every aspect of the project from scoping and contract negotiation through to planning and delivery. </li>
            <li>Coordinating weekly demos and review sessions. </li>
            <li>Risk management and weekly status reporting.</li>
            <li>Managing relationships between multiple roster agencies and third party vendors. </li>
          </ul>

  <h3> Education</h3>

  <h3 class="cv-h3"> Le Wagon Coding Bootcamp</h3>
  <p> Ruby, Ruby on Rails, JavaScript, HTML, CSS, Bootstrap CSS.</p>

  <h3 class="cv-h3">Professional Certificates</h3>
  <p> CSM ScrumMaster Certificate, Google Squared Certifcate in Digital Media, IPA Foundation Certificate, Google Analytics Individual Qualification.</p>

   <h3 class="cv-h3">Bachelor of Arts in European Studies Trinity College Dublin, 2006-2010</h3>
  <p>Subjects: Russian (Major), French (Minor), International Relations, Modernism and Mass Societies
  Grade Awarded: II.I
  St. Andrew’s College Booterstown, Co. Dublin 2004-2006
  540 Level Cert Points (out of a possible 600).</p>

  <h3 class="cv-h3">Referees</h3>
  <p> Available on request, please do not contact my current employer or individuals working there without requesting my permission</p>


        </div>

</section>
