<div class="banner">
    <div class="container" style="background-color: #111111" id="banner-container">
      <h1 class="main_title">Kate Earls FitzGerald</h1>
      <%= link_to 'Curriculum Vitae', pages_cv_path%>
    </div>
  </div>
      <section class="page-section" style="background-color: #111111">
        <div class="container" style="padding-top:20px;">
 <div class="row">
        <div class="col-lg-12 text-center">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div>
             <!-- <span class="fas fa-mouse-pointer fa-6x">
          </span>
 -->               </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading" style="color:#f45f1f;">I'm an Agile Specialist</h4>
                </div>
                <div class="timeline-body">
                  <p> I help teams and organisations implement Agile methodologies to drive productivity and predictability and to support the delivery of high-quality products.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
                <div>
                <!-- <span class="fas fa-fist-raised fa-6x">
                </span> -->
               </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading" style="color:#f45f1f;">I'm passionate about making work a good place to be</h4>
                </div>
                <div class="timeline-body">
                  <p>I get a lot of satisfaction from coaching teams to be self-motivated and creating environments where transparency can thrive </p>
                </div>
              </div>
            </li>
            <li>
              <div>
                <!-- <span class="fas fa-check fa-6x">
                </span> -->
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading" style="color:#f45f1f;">I love my industry!</h4>
                </div>
                <div class="timeline-body">
                  <p>I'm fascinated by technology, how it can help or hinder us, how it can change society and behaviours and how ..</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
        </div>
      </section>



      <section class="page-section" id="about" style="background-color: #111111; border-top-style: solid; border-color: white; border-width: 2px; padding-top: 20px;">
        <div class="container">
      <h1>Contact Me</h1>
        <div id="contact">
          <%= render 'contact_form' %>
      </div>

  </section>
  </div>
    </div>
  </div>
</div>
