.banner {
    background-image: url('https://res.cloudinary.com/drkfyvrj8/image/upload/v1560938081/B_circuit-bo_puzBIJcT_epshns.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
    height:200px;
}

.container {
    width: 900px;
    margin: auto;
}

#banner-container {
    width: 500px;
    padding: 20px;
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
}
